*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eeeeee;
    font-family: 'Oswald', sans-serif;
    color: white;
}

header{
    background-color: #393e46;
    color: white;
    font-size: 1em;
    letter-spacing: 2px;
    margin: 0 auto;
    padding: 20px 0 ;
}
header h1{
    text-align: center;
    padding: 0 20px;
}

.container{
    width: 90%;
    margin: 0 auto;
    height: 80vh;
}

.select-file{
    width: 20%;
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    position: relative;
    border: 2px solid #43b6a1;
    background-color: #43b6a1;
    color: white;
    transition: 450ms all;
}
.select-file:hover{
    background-color: #32e0c4;
    border: 2px solid #32e0c4;
    color: black;
}

.select-file .inputfile{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.principal-content h3{
    padding: 0;
    margin: 0 auto 40px auto;
    text-align: center;
}

.principal-content #contenido-archivo{
    margin: 0 auto;
    box-sizing: border-box;
}
.content-identifiers{
    display: flex;
    align-items: center;
}
.identifiers{
    width: 100%;
}

.itemI{
    margin: 10px auto;
    padding: 10px 0 ;
    width: 50%;
    transition: 450ms all;
    border-radius: 3px;
}

.default{
    border: 2px solid #393e46;
}

.celeste{
    border: #32e0c4 2px solid;
}

.rojo{
    border: 2px solid red;
}

.p{
    width: 50%;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

textarea{
    margin: 0 auto;
    width: 100%;
    height: 70%;
    text-align: center;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.principal-content{
    background-color: #393e46;
    height: 80%;
}

.principal-content .rpta{
    margin: 0 auto;
    padding: 20px;
    width: 60%;
    height: 100%;
    color: white;
}


#button-scan{
    padding: 5px 10px;
    border: 2px solid #43b6a1;
    background-color:#43b6a1;
    cursor:pointer;
    margin: 40px auto 20px auto;
    color: white;
    font-size: 1.5em;
    width: 30%;
    border-radius: 6px;
    transition: 450ms all;
    font-family: 'Oswald', sans-serif;
    outline: none;
}
#button-scan p{
    text-align: center;
}
#button-scan:hover{
    background-color: #32e0c4;
    border: 2px solid #32e0c4;
    color: black;
}

.footer{
    color: rgb(78, 77, 77);
    background-color: #eeeeee;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
}

.footer p{
    font-size: 20px;
    padding-top: 20px;
}

@media(max-width : 1000px){
    .principal-content .rpta{
        width: 80%;
    }
}

@media(max-width : 768px){
    
    .container{
        width: 100%;
        margin: 0 auto;
    }

    .select-file{
        width: 40%;
    }

    .principal-content .rpta{
        width: 90%;
    }
    
    .grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }

}